<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="planoContaAzul">
            <h2><span>Plano Conta Azul</span> {{planoContaAzul.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Plano</span></dt>
                <dd>
                    <span>{{planoContaAzul.plano}}</span>
                </dd>
                <dt><span>Grupo Conta Azul</span></dt>
                <dd>
                    <div *ngIf="planoContaAzul.grupoContaAzul">
                        <a [routerLink]="['/grupo-conta-azul', planoContaAzul.grupoContaAzul?.id, 'view']">{{planoContaAzul.grupoContaAzul?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plano-conta-azul', planoContaAzul.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
